<div class="container contact__container">
    <section class="contact__section">
        <div class="heading" data-aos="fade-up">
            <h1>Hey du!</h1>
        </div>
        <div class="separator"></div>
        <div class="sub-heading" data-aos="fade-up" data-aos-delay="100">
            Du hast Interesse an einem Shooting/einer Hochzeitsbegleitung? Dann melde dich gerne bei mir - ich sende dir
            dann alle Infos zu meinen Shootings ganz unverbindlich zu oder erstelle dir ein ganz individuelles Angebot!
            Auch
            bei anderen Fragen kannst du mir jederzeit eine Nachricht schreiben - ich freue mich immer, von euch zu
            hören!
            Ich freue mich darauf, euch kennenzulernen und mehr von euch und eurer Geschichte zu erfahren!
        </div>
        <div class="separator"></div>
    </section>
    <app-contact-form class="contact__section" data-aos="fade-up" data-aos-delay="200"></app-contact-form>
</div>