<div class="container">
    <div class="about-me__container" data-aos="fade-up">
        <div class="about-me__column">
            <div class="about-me__text">
                <h3 id="about-me__heading" data-aos="fade-up">Thats me</h3>
                <div class="about-me__section" data-aos="fade-up">
                    Hi, schön dass du hier bist! Ich bin Helga, fotografiere seit Jahren mit Leidenschaft und liebe es
                    deine/eure besonderen Momente für die Ewigkeit festzuhalten! Wenn du natürliche, ungestellte und
                    emotionale Bilder liebst, bist du bei mir genau richtig.
                </div>
                <!-- 
                <div class="about-me__section" data-aos="fade-up">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                    amet,
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam
                    erat,
                    sed diam voluptua.
                </div>

                <div class="about-me__section" data-aos="fade-up">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                    amet,
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam
                    erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren,
                    no
                    sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div> -->
            </div>
        </div>
        <div class="about-me__column about-me__image" data-aos="fade-up">
            <img src="../../../assets/images/about-me.jpeg" loading="lazy">
        </div>
    </div>
</div>