<div class="container">
    <app-portfolio-showcase title="Couples" subTitle="As soon as I saw you, I knew an adventure was going to happen."
        titlePicturePath="../../../assets/images/portfolio-selector/couples.JPG"
        infoText="Ihr seid frisch verliebt, verlobt oder auch bereits verheiratet und wünscht euch gemeinsame Erinnerungen? Eure Liebe ist einzigartig, gemeinsam mit euch halte ich eure Geschichte ganz persönlich fest! Ich freue mich darauf, mehr von euch zu erfahren!">
    </app-portfolio-showcase>
</div>