<div class="footer">
    <div class="row footer__row footer__info">
        <div class="footer__col footer__social">
            <h4>Hier findest du mich auch:</h4>
            <div class="footer__social-icons">
                <span class="iconify" data-icon="mdi-instagram" data-inline="false"></span>
                <span class="iconify" data-icon="mdi:facebook" data-inline="false"></span>
            </div>
            <div class="separator show-only-mobile"></div>
        </div>
        <div class="separator-vertical hide-mobile"></div>
        <div class="footer__col footer__logo">
            <app-logo></app-logo>
        </div>
        <div class="separator-vertical hide-mobile"></div>
        <div class="footer__col footer__links">
            <ul>
                <li><a href="">Datenschutz</a></li>
                <li><a href="">Impressum</a></li>
            </ul>
            <div class="separator"></div>
            <button class="button">Schreib mir!</button>
        </div>
    </div>
    <div class="row footer__row footer__copyright">
        © {{ currentYear }} - Helga Hübner
    </div>
</div>