<div class="portfolio-showcase" data-aos="fade-up">
    <div class="portfolio-showcase__section">
        <div class="portfolio-showcase__cover-image" data-aos="fade-in" data-aos-duration="1000">
            <img [src]="titlePicturePath" loading="lazy">
        </div>

        <div class="portfolio-showcase__title-box">
            <div class="heading portfolio-showcase__title">{{ title }}</div>
            <div class="heading portfolio-showcase__sub-title" data-aos="fade-in" data-aos-delay="300">{{ subTitle }}
            </div>
            <div class="portfolio-showcase__info-text" data-aos="fade-in" data-aos-delay="400">{{ infoText }}</div>
        </div>
    </div>

    <div class="portfolio-showcase__section">
        <ul class="portfolio-showcase__image-list">
            <li *ngFor="let image of images" class="portfolio-showcase__image-wrapper">
                <img class="portfolio-showcase__image" [src]="image" loading="lazy" data-aos="fade-up">
            </li>
            <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
            <li class="portfolio-showcase__image-wrapper"></li>
        </ul>
    </div>
</div>