<div class="container">
    <app-portfolio-showcase title="Family" subTitle="Natürlichkeit zählt!"
        titlePicturePath="../../../assets/images/portfolio-selector/family.JPG"
        infoText="„Guckt mal alle her und lächelt!“ – das ist wohl das letzte, was ich beim Fotografieren sage. Ich mag natürliche Aufnahmen, während ihr euch miteinander beschäftigt, lacht, Spaß habt. Bilder, bei denen jedes Haar gewollt plaziert, jede Falte aus der Kleidung wegretuschiert und jede (niedliche!) Speckfalte weichretuschiert wurde, bekommt ihr bei mir nicht! Ganz entspannt und wie ihr seid möchte ich euch fotografieren.">
    </app-portfolio-showcase>
</div>