.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    overflow: hidden;
    section {
        width: 100%;
    }
}

.home__showcase {
    max-width: 100%;
    section {
        min-height: 100vh;
    }
}

.home__section {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}