<div class="container">
    <app-portfolio-showcase title="Wedding" subTitle="Euer großer Tag"
        titlePicturePath="../../../assets/images/portfolio-selector/wedding.JPG"
        infoText="Ich möchte an eurem Tag all die wunderschönen großen und auch kleinen Momente für euch festhalten. Natürlichkeit und Authentizität sind mir dabei sehr wichtig, damit Erinnerungen geschaffen werden, die ihr euch auch noch in Jahren mit einem Lächeln auf den Lippen anseht. Wenn ihr euch das wünscht, dann seid ihr bei mir gut aufgehoben! Meldet euch gerne für weitere Infos bei mir - ich freue mich euch kennenzulernen! Jetzt aber erstmal viel Spaß beim Durchsehen der Bilder! Mehr von mir findet ihr auch auf meinem BLOG - schaut doch mal vorbei!">

    </app-portfolio-showcase>
</div>