<div class="container">
    <div class="about-me__container">
        <div class="about-me__column">
            <div class="about-me__text">
                <h3 id="about-me__heading">Thats me</h3>
                <div class="about-me__section">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et
                    dolore magna aliquyam erat, sed diam voluptua.
                </div>

                <div class="about-me__section">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                    amet,
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam
                    erat,
                    sed diam voluptua.
                </div>

                <div class="about-me__section">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                    amet,
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam
                    erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren,
                    no
                    sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
        <div class="about-me__column about-me__image">
            <img src="../../../assets/images/about-me.jpeg" alt="">
        </div>
    </div>
</div>