<div class="container">
    <app-portfolio-showcase title="Portrait" subTitle="Bilder für die Ewigkeit. Von mir. Für dich."
        titlePicturePath="../../../assets/images/portfolio-selector/portrait.JPG"
        infoText="Du bist einzigartig! Bei einem Shooting will ich DICH abbilden. Ganz natürlich. Ganz Du. Ich liebe fliegende Haare, die Momente dazwischen, das Unperfekte, auch mal das Ernste, Melancholische. Ich arbeite auch sehr gerne und sehr oft mit Menschen, die noch nie vor der Kamera standen - und es ist garnicht so schlimm, wie viele sich das vorstellen! Ich bin da, damit du dich wohl fühlst!">

    </app-portfolio-showcase>
</div>