<div class="showcase__container">
    <div class="showcase__slide">
        <div class="showcase__image">
            <img src="../../../assets/images/DSC_3126-min.JPEG" alt="">
        </div>
    </div>
    <div class="showcase__slide" data-swiper-autoplay="2000">
        <div class="showcase__image">
            <img src="../../../assets/images/DSC03029-min.JPG" alt="">
        </div>
    </div>
    <div class="showcase__slide">
        <div class="showcase__image">
            <img src="../../../assets/images/DSC04705-min.JPG" alt="">
        </div>
    </div>
    <div class="showcase__slide">
        <div class="showcase__image">
            <img src="../../../assets/images/DSC05068-min.JPG" alt="">
        </div>
    </div>
    <div class="showcase__slide">
        <div class="showcase__image">
            <img src="../../../assets/images/DSC05577-min.JPG" alt="">
        </div>
    </div>
    <div class="showcase__slide">
        <div class="showcase__image">
            <img src="../../../assets/images/DSC_1608-min.JPG" alt="">
        </div>
    </div>
    <div class="showcase__slide">
        <div class="showcase__image">
            <img src="../../../assets/images/DSC_3847-min.JPG" alt="">
        </div>
    </div>
    <div class="showcase__slide">
        <div class="showcase__image">
            <img src="../../../assets/images/DSC_7793-min.JPG" alt="">
        </div>
    </div>
</div>